/* port styling */
.available-magnet {
    fill: rgb(183, 0, 255);
}

/* element styling */
.available-cell rect {
    stroke-dasharray: 5, 2;
}

.floating-menu {
    background-color: rgba(255,255,255, 150);
    position: absolute;
    z-index: 100;
}